.container {
display: flex;
position: absolute;
border: solid black 2px;
}

.divlogo{
    display: flex;
    align-items: center;
}

.divsplitter{
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.splitter{
    height:60px;
    width:2px;
    background-color: brown;
}
.divul{
    display: flex;
    align-items: center;
}

.ul {
    list-style: none;
    background: gray;
    display: flex;
    font-size: 20px;
    font-weight: 100;
}

.form {
    display: flex;
    align-items: center; 
}

.divsearch {
    display: flex;
    align-items: center;
}

.search {
    height: 40px;
    width: 300px;
    border: solid black 1px;
    border-radius: 5px;
}

.search:focus{
    box-shadow:
    0 0 0 2px hsla(237, 59%, 37%, 0.807)
}

.divsubmit {
    display: flex;
    align-items: center; 
}

.submit {
    height: 45px;
    width: 50px;
    background-color: rgba(166,38,57,1);
    
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 2s;
}

.submit:hover {
    background-color: rgb(227,24,55);
}
.fa-search {
    color: white;
}